P {
margin: 4mm;
border:2px solid blue;
}
span {
    padding: 5px;
    border: 10px solid orange;
    border-radius: 10px;
    position:relative;
    float:left;
}
#kulso {
border:solid red;
background-color: red;
width: 12cm;
height: 12cm;
text-align: center;
}
#kozepso {
    border:solid green;
    background-color: green;
    width: 8cm;
    height: 8cm;
    text-align: center;
    margin: auto;
    }
    #belso {
        border:solid blue;
        background-color: blue;
        width: 4cm;
        height: 4cm;
        text-align: center;
        margin: auto;
    }